<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.driveerp.bdml"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Jason Test APp</name>

    <description>
        Jasons Test app for testing stuff
    </description>

    <author href="http://www.drivecomputing.co.uk" email="jasonm@drivecomputing.co.uk">
        Drive Computing Ltd
    </author>

</widget>
